Body{
border: 1em solid grey;
}


#mainBackGround{
    background-image: linear-gradient(to top, #fafa6e, #f5d34b, #edad31, #e18620, #d15e1a);
    border: 1.5em solid #ED6A5A;
}

#mainBottom{
    background: #C3EB78;
    height: 100%;
}

#button1{
    margin: 2em;
    background-color: ivory;
    border: 2px solid grey;
    color: red;
    margin-left: 80%;
}

#mainImage {
  border:solid 2px;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
  max-height:25%;
  max-width:25%;
}

#mainImage2 {
  border:solid 2px;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
  max-height:25%;
  max-width:25%;
}

.frame {
  background-color:#ddc;
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  margin:10vh 10vw;
  height:80vh;
  padding:8vmin;
  position:relative;
  text-align:center;
  &:before {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
  }
  &:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;
  }
}

nav {
    border-bottom: 1px solid black;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
    margin-left: 5%;
    margin-right:2%;
    color: purple;
    border: 2px solid #306B34;
    font-family: georgia;
    font-size: 18px;
    background-color: #ED6A5A;
}
.crumbsArea{
margin-left: 25%;
margin-right: 25%;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
 #navBar{
    color:purple;
 }

 #navBar2{
    color: #B6174B;
 }

 .facilityPics{
   display: grid;
   grid-template-columns: min-content 1fr;
   margin-left: 5%;
 }

 .leftArea{
 width: 600px;
 float: left;
 margin-bottom: 5%;
 }

 .rightArea{
 width: 425px;
 height: 225px;
 margin-left: 50%;
 border: 6px solid #C3EB78;
 }

#bigPic{
height: 75%;
width: 75%;
}

#scrollButton{
    margin-left: 2%;
}

.facilityBtmText{
margin-left: 1%;
margin-bottom: 5px;
}

.spacer{
  /* background-color: black; */
  border: 2px solid tan;
  margin-left: 1px;
  margin-right: 1px;
  width: 5px;
}


#residentsTable{
  border: 7px dotted #005778;
  height:300px;
  width: auto;
   overflow-y:scroll;
   display:block;
   margin-left: 25%;
   margin-right: 25%;
   margin-bottom: 5%;
   background-color: #006778;
scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  --scrollbarBG: #CFD8DC;
}

td{
text-align: center;
}

tr{
text-align: center;
}

tr{
border-bottom: 2px solid black;
}

.name{
width: 90px;
}

.breed{
width: 132px;
}

.group{
width: 75px;
}

.gender{
width: 100px;
}

#tableHead{
display: block;
text-align: center;
}

.age{
text-align: center;
}

tbody {
    display: block;
}

thead{
background: white;
  position: sticky;
  top: 0;
  text-align: center;
  width: auto;
}